body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    background-color:#F3722C ;
    margin: auto;
    text-align: center;
    max-width: 1200px;
}
a {
    color:inherit
}
img {
    max-width: 100%;
    margin-bottom: 40px;
}
.navbar {
    background-color:white;
}
.navbar li {
    float: right;
    list-style: none;
    margin: 15px 15px;
}
.navbar li a {
    padding: 3px 3px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}


section.card {
    background-color:#F3722C;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
}
section.card h3 {
    margin: 0 10px;
    font-size: 22px;
    display: grid;
    grid-template-columns: 1fr 1fr 1 fr;
    line-height: 28px;
}
section.card h3 {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 20px;
}
footer {
    display: flex;
    justify-content: flex-end;
    align-items: center
    height: 100px;
}
.footerimage {
    margin-right: -500px; /* Add some spacing between the photo and the right edge of the footer */
    height: 80px;
    float: right
    position: right
}
h1 {
    position: left
    }
    
section.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:16px
}

@media (max-width:600px) {
    .card {
        grid-template-columns: repeat(1, 1fr);
    }
}


